.mdl-layout__header {
  background-color: #2b2e39 !important;
  opacity: .60;
}

.mdl-navigation__link{
  font-size:16px !important;
}

.mdl-tabs__tab-bar{
  border-bottom:none !important;
}

span{
  min-height: 100px;
  display: inline-flex;
  align-items: center;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
  color:#4c5b5e !important;
  background-color:white;
  border-radius: 50%;
  margin:5px;
}

.landing-grid {
  background-image: url(./img/Sparkle.jpg);
  background-repeat: none;
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* projects styling */
.projects-grid {
  background-image: url(./img/Sparkle.jpg);
  background-size: cover;
  text-align: center;
  top: 0;
  left: 0;
}

.project-body{
  display: flex;
}

.selfie{
  border-radius:12px;
  max-width: 450px;
  margin: 10px;
}

.about-body{
  background-image: url(./img/Sparkle.jpg);
  text-align: center;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.pageHeader{
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.about-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  background: #4c5b5e;
  opacity:.92;
  border-radius:12px;
  color: #ffdfaf;
}

/* contact page css */

.contact-body {
  background-image: url(./img/Sparkle.jpg);
  background-repeat: none;
  background-size: cover;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: auto;
  background: #4c5b5e;
  opacity:.92;
  border-radius:12px;
  color: #ffdfaf;
  margin-top:100px;
}

.contact-grid h2 {
  font-family: 'Montserrat', sans-serif;
}

.contact-grid p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.about-grid hr {
  border-top: 5px dotted #eebe68;
  width: 50%;
  margin: auto;
}

.contact-grid hr {
  border-top: 5px dotted #eebe68;
  width: 50%;
  margin: auto;
}

.fa{
  color: #eebe68;
}


.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

p, a{
  font-family: 'Didact Gothic', sans-serif;
}

/* contact page css */

.avatar-img {
  height: 400px;
  border-radius: 50%;
  padding-top: 5em;
}

.banner-text {
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 46px;
  font-weight: bold;
  color: #fcf4e7;
}

.banner-text hr {
  border-top: 5px dotted #eebe68;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: #fcf4e7;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: #fcf4e7;
  font-size: 5em;
  padding: 8px;
}
